@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.actions {
	display: flex;
	justify-content: space-between;
	margin-block-start: 3rem;

	&__link {
		color: v.$colorBlack;
		font-size: 1.4rem;
		font-weight: v.$fontWeightLight;
	}
}
