@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.form {
	display: flex;
	flex-direction: column;

	&__fieldset {
		margin-block-start: 1rem;
		padding: 0;
		border: none;
	}

	&__legend {
		margin-block-end: 2rem;
		color: v.$colorGrey;
		font-size: 2.2rem;
	}

	&__field {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-block: 1.5rem;
	}

	&__container-icon {
		overflow: hidden;
		display: flex;
		border-radius: 0.5rem;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		inline-size: 4rem;
		background-color: v.$colorGreyDark;

		i {
			color: v.$colorWhite;
			font-size: 2rem;
		}
	}

	&__label {
		display: block;
		color: rgba(v.$colorBlack, 0.8);
		font-size: 1.8rem;
	}

	&__input {
		padding: 1rem;
		border: 1px solid darken(v.$colorGreyLight, 20);
		border-radius: 0.5rem;

		&--file {
			border: none;
		}

		&--socials {
			@extend .form__input;
			flex: 1;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	&__submit {
		@include m.button(v.$colorPrimary, v.$colorWhite);
		align-self: flex-start;
		inline-size: auto;

		&--register {
			inline-size: 100%;
		}
	}
}
