@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.socialMenu {
	@include m.social-menu(v.$colorWhite, 2rem);
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-block: 4rem;

	@include m.respond(tablet) {
		justify-content: flex-end;
	}
}
