@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins' as m;

.dashboard {
	display: flex;
	flex-direction: column;
	block-size: 100%;
	background-color: v.$colorGreyLight;

	&__header {
		padding-block: 2rem;
		padding-inline: 2rem;
		background-color: v.$colorGreyDark;

		&Grid {
			display: flex;
			flex-direction: column;

			@include m.respond(tablet) {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	&__logo {
		@include m.logo;
		@include m.text-fluid(2rem, 3rem);
	}

	&__nav {
	}

	&__form {
		display: flex;
		justify-content: center;
	}

	&__submit--logout {
		@include m.link;
	}

	&__grid {
		display: flex;
		flex: 1;
	}

	&__sidebar {
		inline-size: 12rem;
		background-color: lighten(v.$colorGreyDark, 10%);
	}

	&__menu {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-block: 1rem;
		padding-inline: 1rem;
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-block: 2rem;
		color: lighten(v.$colorGreyDark, 40%);
		transition: background-color 0.3s ease-in-out, color 0.3s,
			border-radius 0.3s;

		&:hover {
			border-radius: 1rem;
			background-color: lighten(v.$colorGreyDark, 20%);
			color: v.$colorWhite;
		}
	}

	&__icon {
		font-size: 2rem;
	}

	&__menuText {
		margin-block: 0.5rem;
		font-size: 1.1rem;
		font-weight: v.$fontWeightBold;
		text-transform: uppercase;
	}

	&__content {
		padding-block: 1rem 3rem;
		padding-inline: 1rem;
		inline-size: 100%;

		@include m.respond(tablet) {
			padding-inline: 5rem;
		}
	}
}
