$fontPrimary: 'Outfit', sans-serif;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;
$fontWeightBlack: 900;

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXl: 1200px;

$colorPrimary: #007df4;
$colorSecondary: #00c8c2;

$colorWhite: #fff;
$colorBlack: #1a1b15;
$colorGrey: #64748b;
$colorGreyLight: #f8fafc;
$colorGreyDark: #1e293b;

$colorRed: rgb(169, 0, 0);
$colorGreen: #02db02;

$sizes: 1 2 3 4 5 6;
